@import url("https://fonts.googleapis.com/css?family=Rubik:400,500,700&display=swap");

@font-face {
  font-family: Gilroy;
  font-weight: bold;
  src: url("../css/Gilroy-ExtraBold.otf");
}

@font-face {
  font-family: Gilroy;
  font-weight: lighter;
  src: url("../css/Gilroy-Light.otf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  border: none;
}
button:focus {
  outline: none;
}

:root {
  --purple-color: #4e15a2;
  --yellow-color: #fbe10f;
  --orange-color: #ff9d00;
  --gray-100: #f4f7f6;
  --gray-200: #e1e8ed;
  --gray-300: #ced9e0;
  --gray-400: #bfccd6;
  --gray-500: #738694;
  --gray-600: #394b59;
  --gray-700: #293742;
  --gray-800: #182026;
  --shadow-100: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --shadow-200: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  --shadow-300: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  --shadow-400: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);

  --shadow-button: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);

  --transition-button: 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.container {
  width: 80%;
  margin: auto;
}

/* Navbar */
nav {
  position: fixed;
  height: 7vh;
  width: 100%;
}
.hero-background {
  width: 100%;
  height: 100vh;
  background: var(--purple-color);
}
.hero-background .container {
  height: 100%;
}
.hero-wrapper {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-family: Gilroy, sans-serif;
}

.hero-wrapper .text-content {
  width: 60%;
  height: 100%;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
}
.hero-wrapper .text-content .heading {
  font-size: 8rem;
  font-weight: lighter;
}

.highlight {
  font-weight: bold;
  color: var(--yellow-color);
}

.description {
  font-size: 1.8rem;
}

.description .highlight {
  font-weight: lighter;
  color: var(--orange-color);
}

.btn {
  background: var(--orange-color);
  padding: 0.8rem 1.4rem;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 7px;
}

.text-content .btn {
  margin-top: 4rem;
  align-self: flex-start;
  box-shadow: var(--shadow-100);
}
.text-content .btn:hover {
  cursor: pointer;
  transform: translateX(10px);
}

/* Work SEction */

#work {
  background: var(--gray-100);
}
#work .container {
  padding: 6rem 0;
}

.title-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h2.title {
  color: var(--purple-color);
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 2.5rem;
  text-align: center;
}
.title-ruling {
  margin: 5px;
  width: 7%;
  height: 2px;
  outline: none;
  border: none;
  background: var(--gray-600);
}
/* Work Card */
.work-card {
  margin: 3.5rem 0px;
  width: 100%;
  height: 500px;
  background: white;
  display: flex;
}

.work-card .image {
  height: 100%;
  width: 50%;
  overflow: hidden;
}

.work-card .image .card-img {
  height: 100%;
  margin-left: -15px;
  transition: transform 0.6s ease-in;
}

.work-card .image .card-img:hover {
  transform: scale(1.2) rotate(-9deg);
}

.work-card .content {
  padding: 3rem;
  width: 50%;
}

.work-card .content .heading {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--gray-800);
}

.work-card .content .card-text {
  color: var(--gray-500);
  margin-top: 1.4rem;
  line-height: 1.5;
  font-size: 1.3rem;
}
